<h1 class="text-primary">Cuanto debo pagar?</h1>
<h4 class="text-secondary">Tu ayuda a la hora de pagar por hora</h4>

<div class="card">
    <div class="input">
        <label for="perHour">Precio por hora: </label>
        <label class="text-sign" style="padding-top: 0.5%; padding-right: 0.5%;">$</label>
        <input id="perHour" name="perHour" type="number" [value]="price" (input)="inputChanges($event)"  #inputPrice (click)="inputPrice.select()" />
    </div>
    <div *ngIf="showError" style="background-color:salmon; color: white; padding-left: 10px; margin-top: 10px; ">
        <b>
            ERROR: Esta intentando ingresar un numero negativo.
        </b>
    </div>
    <div *ngIf="showErrorGreater" style="background-color:salmon; color: white; padding-left: 10px; margin-top: 10px; ">
        <b>
            ERROR: Esta intentando ingresar un numero mayor a 10 millones
        </b>
    </div>
    <div class="label-horas">
        <label>Horas trabajadas:</label>
        <b class="text-xlarge">{{mostrarHora()}}</b> 
    </div>
    <input  type="range" [min]="min" [max]="max" [step]="step" (input)="rangeChange($event)"  />

    <div class="result">
        <label>Total a pagar:</label>
        <span class="text-result">{{mostrarResultado() | currency:'ARS':'symbol-narrow':'1.2-2'}}</span>
    </div>
</div>
